<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SQLconnect"
             connectionString="Data Source=R2D2\SQLEXPRESS;Initial Catalog=VB_MNT;User ID=SA;Password=Inspiron1;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
